@model AdminViewModel

@*<div class="col-12">
	<a asp-action="Index" asp-controller="Home"><< На главную</a>
</div>*@
<div class="col-md-6 col-sm-12">
	<h2>Список напитков</h2>
	<table class="table table-sm table-bordered text-center">
		<thead>
			<tr><th>ID</th><th>Название</th><th>Цена</th><th>Количество</th><th>Изображение</th><th>Действия</th></tr>
		</thead>
		<tbody>
			@foreach (var p in Model.Products) {
				<tr>
					<td>@p.ProductID</td>
					<td>@p.Name</td>
					<td>@p.Price</td>
					<td>@p.Count</td>
					<td>
						<img src="@p.ImageFilePath" style="max-height: 100px;" />
					</td>
					<td>
						<form asp-action="DeleteProduct" method="post">
							<input type="hidden" name="id" value="@p.ProductID" />
							<a class="btn btn-dark btn-sm editProduct" asp-action="EditProduct" asp-route-id="@p.ProductID">Изменить</a>
							<button class="btn btn-danger btn-sm" type="submit">Удалить</button>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<a class="btn btn-dark btn-secondary editProduct" asp-action="CreateProduct">Добавить</a>
</div>

<div class="col-md-6 col-sm-12">
	<h2>Список монет</h2>
	<table class="table table-sm table-bordered text-center">
		<thead>
			<tr><th>ID</th><th>Название</th><th>Номинал</th><th>Количество</th><th>Принимать</th><th>Действия</th></tr>
		</thead>
		<tbody>
			@foreach (var c in Model.Coins) {
				<tr>
					<td>@c.CoinID</td>
					<td>@c.Name</td>
					<td>@c.Nominal</td>
					<td>@c.Count</td>
					<td>@Html.CheckBoxFor(m => c.IsAvailable, new { @id = c.CoinID })</td>
					<td><a class="btn btn-dark btn-sm editProduct" asp-action="EditCoin" asp-route-id="@c.CoinID">Изменить</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<div id="modDialog" class="modal fade">
	<div id="dialogContent" class="modal-dialog"></div>
</div>

@section Scripts {
	<script>
		$(function () {
			$.ajaxSetup({ cache: false });
			$(".editProduct").click(function (e) {
				e.preventDefault();
				$.get(this.href, function (data) {
					$('#dialogContent').html(data);
					$('#modDialog').modal('show');
				});
			});
		})
	</script>
}